<div class="wrapper" (scroll)="onScroll($event)">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
        </tr>
        <tr *ngFor="let contact of filteredList; trackBy: userTrackBy"
            class="contact-line">
            <td>{{contact.contact_name}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phone_number}}</td>
        </tr>
    </table>
    <div>
        <app-search-box (searchInput)="onSearchInput($event)"></app-search-box>
        <button (click)="createNewUser()">New Contact</button>
    </div>
</div>

